<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Get Barber</title>
</head>
<body>
    <header class='menu-principal'>
        <div class="logo">
            <img src="logo.png"/>
        </div>
        <div class="redes_sociais">
        </div>
     </header>
     <h1 class="titulo">
        Barber, faça seu login:
    </h1>
    <fieldset>
     <h2 class="dados">
         Informe seu email e senha:
     </h2>
     <form>
         Email:
         <input type="email", placeholder="Email"> <br>
         <br>
         Senha:
         <input type="password", placeholder="Senha"> <br>
         <br>
         <button class="botão", type="submit">
             <a href="PaginadeConclusaoPrestador.html">Entrar</a>
         </button>

     </form>
</body>
</html>