<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Get Barber</title>
</head>

<body>
    <header class ="marcarHorario">
        <div>
            <img src="logo.png"/>
        </div>
    </header>

    <fieldset>
        <div>
            <label>Selecione o serviço no qual necessita:</label>
            <input type="checkbox", id="serviço1", name="serviço1", value="Corte">
            <label for="serviço1">Corte</label>
            <input type="checkbox", id="serviço2", name="serviço2", value="Barba">
            <label for="serviço2">Barba</label>
            <input type="checkbox", id="serviço3", name="serviço3", value="Luzes">
            <label for="serviço3">Luzes</label>
            <input type="checkbox", id="serviço4", name="serviço4", value="Pintar/Platinar">
            <label for="serviço4">Pintar/Platinar</label>
        </div>
    </fieldset>
    <br>
    <fieldset>
        <div>
            <label>Selecione o horario que deseja:</label>
            <select class="hora">
                <option>8 horas</option>
                <option>9 horas</option>
                <option>10 horas</option>
                <option>11 horas</option>
                <option>12 horas</option>
                <option>13 horas</option>
                <option>14 horas</option>
                <option>15 horas</option>
                <option>16 horas</option>
                <option>17 horas</option>
                <option>18 horas</option>
                <option>19 horas</option>
                <option>20 horas</option>
                <option>21 horas</option>
            </select>
        </div>
    </fieldset>
    <br>
    <fieldset>
        <div>
            <form>
                Informe sua localização:
                <input type=text, placeholder="Localização"> <br>

            </form>
        </div>
    </fieldset>
    <button class="botão", type="submit">
        <a href="PaginadeConclusao2.html">Marcar</a>
    </button>

</body>
</html>