<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Get Barber</title>
</head>
<body>
    <header class='menu-principal'>
        <div class="logo">
            <img src="logo.png"/>
        </div>
        <div class="redes_sociais">
        </div>
     </header>
     <h1>Login  efetuado. Agora seus serviços irão aparecer no email do seu cadastro!</h1>
     <h1>Quando você não quiser mais prestar o serviço, você só irá precisar deslogar da pagina.</h1>
     <h10>Obs: Seus serviços irão aparecer para você quando o cliente estiver em um raio de até 5km de distância de onde você está.</h10>

</body>
</html>