<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Get Barber</title>
</head>
<body>
    <header class='logo'>
        <div class="logo">
            <img src="logo.png"/>
        </div>
        <div class="redes_sociais">
        </div>
    </header>
    <h2 class="dados">
         Coloque seu email e senha para cadastro:
    </h2>
     <fieldset>
        <form>
            Nome:
            <input type="text", placeholder="Nome"> <br>
            <br>
            Sobrenome:
            <input type="text", placeholder="Sobrenome"><br>
            <br>
            Informe seu sexo/gênero:
            <input type="checkbox", id="masc", name="masc", value="Masculino">
            <label for="MAsculino">Masculino</label>
            <input type="checkbox", id="Fem", name="Fem", value="Feminino">
            <label for="Feminino">Feminino</label>
            <input type="checkbox", id="naobi", name="naobi", value="Não-Binário">
            <label for="Não-Binário">Não-Binário</label>
            <input type="checkbox", id="prefere", name="prefere", value="Prefiro não dizer">
            <label for="Prefiro não dizer">Prefiro não dizer</label>
            <br>
            Data de nascimento:
            <input type="date"> <br>
            <br>
            Telefone/Celular:
            <input type="number" placeholder="Telefone/Celular"> <br>
            <br>
            Email:
            <input type="email", placeholder="Email"> <br>
            <br>
            Senha (no minimo 6 digitos limitado a 10):
            <input type="password", placeholder="Senha">
            <br>
            Informe se você vai ser um do team barber ou vai ser cliente:
            <input type="checkbox", id="barber", name="barber", value="Barber">
            <label for="Barber">Barber</label>
            <input type="checkbox", id="cliente", name="cliente", value="cliente">
            <label for="cliente">Cliente</label>
            <br>
             <button class="botão", type="submit">
                <a href="PaginadeConclusao.html">Cadastrar</a>
            </button>

        </form>
    </fieldset>
    <br>

</body>
</html>